@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Joan&display=swap');
/*          SHOP            */
#Header{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-around;
    z-index:4;
    position:absolute;
    min-height:30vh;
    width:100%;
}
#MobileCategory{
    display:none;
}
.mobile-footer{
    border-start-start-radius:50%;
    border-start-end-radius:50%;
    box-shadow:0 0 15px 10px hsl(0 0% 100% / 0.6);
    display:flex;
    bottom:0;
}
@media screen and (max-width:55em){
    #Header{
        position:relative;
        min-height:max-content;
        padding:1em;
    }
    #Category{
        display:none;
    }
    footer{
        display:none;
    }
    #MobileCategory{
        display:block;
    }
    #Main{
        min-height:200px;
    }
    main{
        min-height: 120vh!important;
    }
    #Posts{
        margin-top:0!important;
    }
    #Post{
        display:none;
    }
}
#MobileCategory{
    width:95%;
    padding:0 1em;
    background-image:radial-gradient(circle, green, darkorange);
    margin:0 auto;  
}
#MobileCategory details{
    border-bottom:1px solid black;
    transition:all 0.3s linear;
}
#MobileCategory details summary ~ *{
    display:block;
    background-color:purple;
    padding:0.5em 1em;
}
#Category li{
    position:relative;
    display: inline-block;
    padding:0.5em 1em;
    background-color:rgba(0, 120, 212, 1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    margin:0 0.35em;
    width:max-content;
    border-radius:5px;
    font-size:1.12rem;
    cursor:pointer;
    box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.5);
    transition:all 0.2s ease-in-out;
}
#Category li:hover{
    box-shadow:0 1px 3px 2px rgba(0, 0, 0, 0.5);
}
#Category li ul{
    position:absolute;
    inset:auto 0 auto auto;
    margin:0 auto;
    margin-top:0.25em;
    display:none;
    width:max-content;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition:all 0.4s ease-in;
    z-index:999;
}
#Category li li{
    background-color:hsl(200, 100%, 42%);
    margin-top:0.4em;
    width:100%;
    text-align:right;
}
#Category li:hover ul{
    display:flex;
  }
  #Posts{
    position:absolute;
    height:auto;
    width:100%;
    margin-top:10vh;
  }
#Post button{
    width:max-content;
    padding:1em;
    text-align:center;
    font-weight:bold;
    border-radius:25px;
    box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.5);
    transition:all 0.3s linear;
}
@media screen and (max-width: 44em){
    #Header{
        flex-direction:column
    }
    #Category{
        margin:0 auto;
    }
    #Category ul{
        position: relative;
        display:grid;
        grid-template-columns: auto auto auto;
        grid-gap:10px;
        padding-left:0;
    }
    #Category ul li{
        padding:0.5em 0.6em;
        width:100%;
        height:max-content;
        text-align:center;
    }
    #Post{
        margin:1em auto;
    }
}
#Post button:hover{
    box-shadow:0 2px 3px 2px rgba(0, 0, 0, 0.5);
}
/*          LOGIN           */
.account{
    height:calc(100vh + 75px);
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.account form{
    display:flex;
    flex-direction:row;
    align-items: center;
    background-color:hsl(0 100% 0% / 0.8);
    backdrop-filter: blur(0.5px);
    padding:3em;
    border-radius:10px;
    box-shadow:0 0 15px 10px grey;
    overflow:hidden;
}
.account p, .account small{
    color:white;
}
.account p {
    text-shadow:-1.5px 0 #EE1D52, 1.5px 0 #69C9D0;
}
.account form div{
    display:grid;
    grid-template-columns: auto auto;
    margin:0 40px
}
.account form div:first-child{
    grid-template-columns: none;
    grid-template-rows: auto auto;
}
.account form div:first-child > *{
    margin:40px auto;
}
.account form div:last-child> *{
    margin:8px 5px;
    line-height:30px;
}
.account form img{
    animation: rotateImage 5s ease infinite;
}
.account form span{
    position: relative;
    isolation: isolate;
}
.account form span label{
    position:absolute;
    left:0;
    top:50%;
    transform:translate(5%,-50%);
    transition:all 0.5s ease-in-out;
    line-height:22px;
    font-family:Dosis
}
label[for="dob"]{
    display:none;
}
label[for="dob"].active{
    display:block;
}
.account form input{
    padding-top:0.5em;
    border-radius:5px;
}
.account form span input:focus + label, label.active{
    display:block;
    transform:translate(5px, -30px)!important;
    background-color: white;
    border-left:1.5px solid #69C9D0;
    border-right:1.5px solid #69C9D0;
    padding:0 0.5em;
}
/*     #11a519 for success    */
.account form span input:focus, input.active{
    border:2px solid #69C9D0;
    outline:none;
    text-indent:5px;
}
.account form.err{
    border-color:#ff0000!important;
}
form.err i{
    background-color:#ff0000!important;
}
.account form.complete{
    border-color:#11a519!important;
}
form.complete i{
    background-color:#11a519!important;
}
.account i{
    isolation: isolate;
    position:absolute;
    width:150px;
    height:1px;
    transform:rotate(-45deg) scale(2.5) translate(-10%, -2200%);
}
.account input.err{
    border:2px solid #ff0000!important;
}
.account input.err + label.active{
    border-left:1.5px solid #ff0000!important;
    border-right:1.5px solid #ff0000!important;
}
.account input.err:focus{
    border:2px solid #69C9D0;
}
.account input.err:focus + label.active{
    border-left:1.5px solid #69C9D0;
    border-right:1.5px solid #69C9D0;
}


.account input.complete{
    border:2px solid #11a519!important;
}
.account input.complete + label.active{
    border-left:1.5px solid #11a519!important;
    border-right:1.5px solid #11a519!important;
}
.account input.complete:focus{
    border:2px solid #69C9D0;
}
.account input.complete:focus + label.active{
    border-left:1.5px solid #69C9D0;
    border-right:1.5px solid #69C9D0;
}
.account input[type=date]{
    width:100%;
}

dialog{
display:none;
position: relative;
grid-column-start:1;
grid-column-end:3;
width:95%;
padding: 0 1em;
}
dialog span{
    display:flex;
    position: absolute !important;;
    color:white;
    top:-0.5em;
    right:-0.5em;
    transform: scale(1.08);
    height:20px;
    justify-content: center;
    align-items: center;
    width:20px;
    cursor:pointer;
    border-radius:5px;
    background-color:red
}
@keyframes rotateImage{
100%{
    transform: rotate(360deg);
}

}
@media screen and (max-width:41em){
    .account form{
        flex-direction:column;
    }
    i{
        height:2px!important;
    }
}
/*          MOBILE          */
/*          RELIGION        */
/*          REKLAM          */
/*          POSTS           */
@font-face{
    font-family:rudawbold;
    src: "./../resources/font/redawbold.ttf";
}
main{
    min-height:calc(100vh);
    position:relative;
}
.posting{
    padding: 0.5em 1em 1.5em 1em;
    height:100%;
}
.posting select option{
    border:1px solid black;
    text-decoration:underline;
    text-decoration-color:#EE1D52;
}
.posting section:last-child form > span{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:1em;
    font-family:rudawbold;
    font-weight:bolder;
    font-size:1.1rem;
}
.posting section:last-child form > span label{
    margin-right:1em;
    cursor:pointer;
}
.quality span{
    padding:0.5em;
    margin:0.5em;
    cursor:pointer;
} 
@media screen and (min-width: 62em){
    .input-info{
        width:50%;
    }
    footer{
        display:flex;
    }
    .mobile-footer{
        display:none;
    }
}
@media screen and (max-width:36em){
    .posting{
        height:max-content;
        flex-direction:column!important;
        background-color:orange!important;
    }
    footer{
        display:none;
    }
    .mobile-footer{
        display:flex;
    }
}
.posting input:not([type="radio"]), .posting textarea, .posting select{
   width:100%;
   max-height:250px;
   min-height:40px;
   cursor:pointer;
}
.posting-reklam{
    height:200px;
    border:1px solid black;
}
.posting button{
    width:max-content;
    padding:1em;
    position: relative!important;
    padding-left:3em; 
    display:flex;
    justify-content: left;
    align-items:baseline;
}
.posting button::after{
    content:"+";
    position:absolute;
    left:1em;
    font-size:1.2rem;
    font-weight:bolder;
    transform:scale(2);
}
label[data-type="upload"]{
    position:relative;
    outline:1px solid orange;
    background-color:hsl(0 0% 100% / 0.6);
    backdrop-filter:blur(50px);
    width:100%;
    border-radius:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    aspect-ratio:2/1;
    margin-right:0!important;
}
label[data-type="upload"]::before{
    content: "\1F4E4";
    transform:scale(4)
}
