@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Comfortaa:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#logo {
    font-family:Anton;
}
header{
    position:sticky;
    display:grid;
    grid-template-columns: 30% 50% auto;
    width: 100%;
    top:0;
    height: 60px;
    z-index:10;
}
header div{
    padding:1em;
}
.container-fluid{
    margin:0 auto;
    font-family:Comfortaa;
}
.container-fluid h3{
    font-family:Allan;
}
.container-fluid p{
    font-family:Comfortaa;
}
.container-fluid span{
    border:1px solid black;
}
footer {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    color:black;
    background:#3667ec;
    width:100%;
    height:75px;
    word-wrap:break-word;
}
#team img{
    width:40px;
    height:40px;
    margin-right:0.5em;
    mix-blend-mode: screen;
    border-radius:25px;
    cursor:pointer;
    transition: transform 0.3s ease-in;
}
#team a{
    color:black;
    word-break:keep-all
}
#team span:hover img{
    transform:scale(1.5);
    border-radius:10px;
    margin-right:0.8em;
}
footer #socials a{
	color:#ffffff;
	text-align:center;
	margin-left:2px;
	border-radius:5px;
    font-size:1.4em;
    transition:transform 0.3s ease-out;
}
footer #socials a:hover i{
    color:white;
    transform:scale(1.3);
}
footer i{
    width:30px;
}
a[data-type=facebook]{
    background-color:#4267B2;
}
a[data-type=twitter]{
    background-color:#1DA1F2;
}
a[data-type=instagram]{
    background-color:#E1306C;
}
a[data-type=youtube]{
    background-color:#FF0000;
}
a[data-type=snapchat]{
    background-color:#FFFC00;
}
a[data-type=tiktok]{
    background-color:#010101;
    text-shadow:1px 0px 5px #EE1D52;
    text-shadow:-1px 0px 5px #69C9D0;
    /* 010101	69C9D0  FFFFFF	EE1D52*/
}
@media screen and (max-width:41em){
    footer{
        height:100px;
    }
    footer #socials{
        font-size:0.7rem;
        display:grid;
        grid-template-columns: auto auto auto;
    }
    footer i{
        width:20px;
    }
    #team{
        display:flex;
        flex-direction:column;
        margin:6px 0;
        line-height:0px;
    }
    #team img{
        display:none;
    }
}