@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Comfortaa:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --header-height: 60px;
    --footer-height: 75px;
    --ul-dropdown-header-width: 100px;
}
body{
    overflow: hidden;
}
#root > div{

    margin-top: calc(var(--header-height) + 10px);
}
#logo {
    position: relative;
    overflow: hidden;
}
#logo img{
    height:100%;
    object-fit:cover;
}
header{
    position:fixed;
    background-color:hsl(0 0% 100% /0.7);
    backdrop-filter: blur(0.5px);
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top:0;
    min-height: var(--header-height);
    z-index:15;
}
.nav li a[href='#login']{
    outline:none;
    border:none;
}
.button-z{
    transform: translateZ(10px);
}
#navigation{
    display:flex;
    align-items:flex-start;
    height:auto;
    z-index:12;
}
#nav{
    transition:transform 0.5s ease-in-out;
    z-index:5;
}
#navigation.active{
    position:fixed;
    margin:0 auto;
    justify-content: center;
    right:0;
    top:0;
    background-color: rgba(17, 17, 17, 0.91);
    backdrop-filter: blur(0.5px);
    width:100%;
    height:100vh;
    z-index:5;
}
#navigation.active #menu{
    color:red;
}
#nav.active{
    position: relative;
    transform:translateX(0);
    border-bottom:none;
}
#nav.active li a{
    width:150px;
    margin-top:calc(100% / 3.5);
}
.nav-item{
    background-color:hsl(0 100% 0% / 0.8)!important;
}
#nav{
    padding-right:10em;
}
.nav-link.active{
    background-color:hsl(0 100% 0% / 0.1)!important;
    color:#17bdb8!important;
}

header .nav a{
    color:#17bdb8;
}
#menu{
    position:absolute;
    inset:auto 20px auto auto;
    transition:all 0.5s ease-in;
    width:20px;
    height:20px;
    font-size:2em;
    display:none;
    cursor:pointer;
    transform:translateY(-20px)
}
header div{
    position: relative;
    width:max-content;
    height: var(--header-height);
}
header li ul{
    background-color:hsl(0 100% 0% / 0.8);
    padding:0.5em 1em;
    position: absolute;
    border-radius:5px;
    max-width:max-content;
    width:max-content;
    display:none;
}
header li:hover ul{
    display:block;
}
header li:hover li ul{
    display:none;
}
header li li:hover ul{
    display:block;
}/*
header li:hover{
    background-image: linear-gradient(45deg, transparent, #f25d39)
}*/
header li li, button{
    display:flex;
    color:#17bdb8;
    text-align:left;
    padding: 0.2em 0.9em 0.2em 0.3em;
    margin-top:3px;
    cursor:pointer;
    border:1px solid white;
    border-radius:4px;
    width:100%;
}
header button{
    width:max-content;
}
header li li ul{
    position:absolute;
    left:calc(var(--ul-dropdown-header-width) - 10px);
}
.container-fluid{
    position:absolute;
    width:100%;
    height: calc(100% - var(--footer-height) - var(--header-height) + 40px);
    margin:0 auto;
    margin-top:calc(var(--header-height) + 5px);
    padding-bottom:calc(var(--footer-height) + 5px);
    overflow:hidden;
    font-family:Comfortaa;
    gap:1em;
}
.app{
    color:#ffffff;
}
.container-fluid h3{
    font-family:Allan;
}
.container-fluid p{
    font-family:Comfortaa;
}
.tilt{
    background-color: transparent!important;
    width: 100% !important;
    box-shadow:none!important;
    transform:translateZ(1000px);
    transform-style: preserve-3d;
}
.details{
    background-color:hsl(0 0% 100% /0.7);
    box-shadow:0 0 55px 25px hsl(0 0% 100% /0.7);
    width:500px;
    height:250px;
    color:black;
    text-align:center;
    padding-top:2em;
    padding-right:2em;
    backdrop-filter: blur(5px);
    border-radius:15px;
    line-height: 1.5em;
    display:flex;
    flex-direction:column;
    align-items: center;
    transition:all 0.3s ease-in;
    overflow:hidden;
}
#vipDetails{
    animation:showing 0.1s forwards;
    transition: all 0.3s ease-in-out;
}
#vipDetails.active{
    animation: turning 10s forwards;
    transition: all 5s ease-in-out;

}
@keyframes showing{
    0%{
        transform:translateX(-150%);
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes turning{
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(150%)
    }
}

.details > *{
    line-height:2em;
}
#user_name{
    position:absolute;
    inset:0 0 auto 0;
    line-height:3em;
    font-weight:bold;
    margin:0 auto;
    background-image:radial-gradient(circle, transparent, hsl(0 0% 100% /0.15), transparent);
    backdrop-filter: blur(15px) grayscale(1);
    text-align: center;
    transform:translateZ(20px);
    border-bottom:2px solid black;
}
#sales{
    margin: 2em auto;
    width:70%;
    height:100%;
    overflow:hidden;
    border-radius:25px;
    box-shadow:0 0 30px 5px gray;
    transition:translateZ(10px)
}

.carousel-inner img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.carousel-item.active{
    animation: checkAnimationEnd 0.1s linear;
}

#background-image{
    padding-top:2em;
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#background-image img{
    position:fixed;
    object-fit: cover;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform: scale(1.08);
}
footer {
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    color:black;
    background:#3667ec;
    width:100%;
    height:var(--footer-height);
    word-wrap:break-word;
    bottom:0;
}
#team img{
    width:40px;
    height:40px;
    margin-right:0.5em;
    mix-blend-mode: screen;
    border-radius:25px;
    cursor:pointer;
    transition: transform 0.3s ease-in;
}
#team a{
    color:black;
    word-break:keep-all
}
#team span:hover img{
    transform:scale(1.5);
    border-radius:10px;
    margin-right:0.8em;
}
footer #socials a{
	color:#ffffff;
	text-align:center;
	margin-left:2px;
	border-radius:5px;
    font-size:1.4em;
    transition:transform 0.3s ease-out;
}
footer #socials a:hover i{
    color:white;
    transform:scale(1.3);
}
footer i{
    width:30px;
}
a[data-type=facebook]{
    background-color:#4267B2;
}
a[data-type=twitter]{
    background-color:#1DA1F2;
}
a[data-type=instagram]{
    background-color:#E1306C;
}
a[data-type=youtube]{
    background-color:#FF0000;
}
a[data-type=snapchat]{
    background-color:#FFFC00;
}
a[data-type=tiktok]{
    background-color:#010101;
    text-shadow:1px 0px 5px #EE1D52;
    text-shadow:-1px 0px 5px #69C9D0;
    /* 010101	69C9D0  FFFFFF	EE1D52*/
}
@keyframes checkAnimationEnd{ 
    100%{
        opacity:1
    }
}
@media screen and (max-width:900px){
    .container-fluid{
        margin-top:calc(var(--header-height) + 40px)
    }
}
@media screen and (max-width:41em){
    #navigation{
        position:relative;
       
    }
    #menu{
        display:block;
    }

    header .nav{
        position:absolute;
        display:flex;
        flex-direction:column;
        transform:translateX(200px);
    }
    :root{
        --footer-height:100px;
    }
    #sales{
        width:100%;
    }
    footer #socials{
        font-size:0.7rem;
        display:grid;
        grid-template-columns: auto auto auto;
    }
    footer i{
        width:20px;
    }
    #team{
        display:flex;
        flex-direction:column;
        margin:6px 0;
        line-height:0px;
    }
    #team img{
        display:none;
    }
}